/* 
    GLOBALS 
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    display: flex;
    height: 100vh;
}

.main-section {
    width: 100%;
}

/* 
    HEADER COMPONENT 
*/
.header {
    width: 100%;
    height: 5rem;
    background-color: rgba(118, 222, 69, 0.655);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    .right-side {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }
}

/* 
    SIDEBAR COMPONENT
*/
.sidebar {
    width: 17rem;
    height: 100%;
    background-color: lightgreen;
    padding: 1rem;

    .top {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid black;
    }

    // Sidebar List
    ul {
        list-style: none;

        // Sidebar List Items
        .link {
            text-decoration: none;
            color: black;
            padding: 1rem;
            display: flex;
            background-color: white;
            margin-bottom: 1rem;
            border-radius: 0.8rem;

            span {
                margin-left: 1rem;
            }
        }
    }
}

/* 
    INVENTORY PAGE
*/
.inventory {
    padding: 2rem;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        table-layout: fixed; // Stretches to the available screen space

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            text-transform: capitalize;
            text-align: center;
        }

        th {
            background-color: lightgreen;
            font-weight: bold;
            text-align: center;
        }

        tbody tr:hover {
            background-color: #f9f9f9;
            
        }
    }
}