// Add variable colors
$darkblue:    #22577A;
$lightblue:   #38A3A5;
$darkgreen:   #57CC99;
$lightgreen:  #80ED99;
$lightergreen:#C7F9CC;

/*
    GLOBALS 
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    display: flex;
    height: 100vh;
}

button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 4px;
    border: none;
    background-color: $darkblue;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

    // hover
    &:hover {
        background-color: $lightblue;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; // Stretches to the available screen space

    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        text-transform: capitalize;
        text-align: center;
    }

    th {
        background-color: $darkgreen;
        font-weight: bold;
        text-align: center;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }

    .row-number {
        width: 5%;
        text-align: right;
        // margin-right: 5rem;
    }

    .row-left {
        text-align: left;
    }

    .row-right {
        text-align: right;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    list-style: none;
  
    li {
      .active {
        background-color: $darkblue;
        color: #fff;
      }
  
      a {
        padding: 0.5rem 1rem;
        border-radius: 4px;
        border: none;
        background-color: rgb(163, 176, 181);
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        cursor: pointer;
  
        &:hover {
          background-color: $darkblue;
        }
      }
    }
  }
.main-section {
    width: 100%;
}

.dashboard {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .lowcount {
        width: 50%;
        display : flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .container {
        width: 25rem;
        height: 25rem;
        background-color: $darkblue;
    }

    h1 {
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
        color: white;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 2rem;

        input {
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            font-size: 1rem;
            background-color: #C9C9C9;
        }
        
        button {
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            width: 50%;
            align-self: center;
            border-radius: 4px;
            border: none;
            background-color: $darkgreen;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }

        .error {
            color: rgb(248, 147, 134);
            align-self: center;
            margin-top: 2rem;
            font-size: 1.3rem;
        }
    }
}
/* 
    HEADER COMPONENT 
*/
.header {
    width: 100%;
    height: 5rem;
    background-color: $lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: white;

    h1 {
        font-weight: 300;
    }

    .right-side {
        display: flex;
        align-items: center;
        gap: 2rem;


        button {
            padding: 0.5rem 1rem;
            border-radius: 4px;
            border: none;
            background-color: $darkblue;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;

            // hover
            &:hover {
                background-color: $lightblue;
            }
        }
    }

    .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        span {
            font-weight: 300;
            font-size: larger;
        }
    }
}

/* 
    SIDEBAR COMPONENT
*/
.sidebar {
    width: 15rem;
    height: 100%;
    background-color: $darkblue;
    padding: 1rem;

    .top {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid black;
        
        h1 {
            font-weight: 600;
            color: white;
        }
    }

    // Sidebar List
    ul {
        list-style: none;

        // Sidebar List Items
        .link {
            text-decoration: none;
            color: black;
            padding: 1rem;
            display: flex;
            background-color: white;
            margin-bottom: 1rem;
            border-radius: 0.8rem;

            span {
                margin-left: 1rem;
            }

            &:hover {
                .functions-dropdown {
                  display: block;
                  margin: 3rem;
                }
              }
        }

        .functions-dropdown {
            border-radius: 0.8rem;
        }
        
        // hover
        .link:hover {
            background-color: $lightblue;
            color: white;
        }

        .sub-link {
            text-decoration: none;
            color: black;
            padding: 1rem;
            display: flex;
            background-color: white;
            margin-bottom: 1rem;
            border-radius: 0.8rem;
            margin-left: 1.5rem;

            span {
                margin-left: 1rem;
            }

            &:hover {
                background-color: $lightblue;
                color: white;
            }
          }
    }
}

/* 
    INVENTORY PAGE
*/
.inventory {
    padding: 2rem;

    .inventory-functions {
        display: flex;
        justify-content: space-between;
    }
}

.margin-b {
    margin-bottom: 1rem;  
}

/* 
    USERS PAGE
*/
.users {
    padding: 2rem;
}

/* 
    REPORTS PAGE
*/
.reports {
    padding: 2rem;
}



.add-inventory-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 1rem; 
}

.sub-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-group {
        width: 45%;
    }
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    

    label {
        font-weight: bold;
        margin-bottom: 0.5rem;

        span {
            color: red
        }

        span.current-quantity {
            color: black;
            font-weight: 100;
            font-style: italic;
        }
    }

    input[type="text"] {
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }

    input[type="password"] {
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }


    select {
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: white;
        
        font-size: 1rem;
    }

    .description {
        height: 4rem;
    }
}

// This is a search input, just style this
.search {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.pos-system {
    display: flex;
}

.pos-left {
    margin: 1rem;
    width: 60%;
}

.pos-right {
    margin: 1rem;
    width: 40%;
  
    .headers {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
  
      .name {
        font-size: 1.5rem;
        font-weight: bold;
      }
  
      .quantity,
      .price {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .quantity {
        justify-content: center;
      }
    }
  
    .orders {
      display: flex;
      flex-direction: column;
  
      .order-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1rem;
  
        .order-quantity,
        .order-name {
          font-size: 1.5rem;
          font-weight: 300;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .order-quantity {
            justify-content: center;
        }
  
        .order-price {
          font-size: 1.5rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }

    .footers {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 1px solid black;
        
        .total, .total-price {
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
        }

        .total-price {
            justify-content: flex-end;
        }
        
    }

    .checkout {
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        
        // .cancel and .proceed buttons
        .cancel {
            padding: 0.5rem 1rem;
            border-radius: 4px;
            border: none;
            background-color: #ccc;
            color: black;
            font-size: 1rem;
            cursor: pointer;
            margin-right: 1rem;

            // hover
            &:hover {
                background-color: #f3f1f1;
            }
        }

        .proceed {
            padding: 0.5rem 1rem;
            border-radius: 4px;
            border: none;
            background-color: $darkblue;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;

            // hover
            &:hover {
                background-color: $lightblue;
            }
        }
    }
  }

.dishes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    button {
        border: 1px solid #ccc;
        border-radius: 1rem;
        margin: 1rem;
        
        background-color: white;
        color: black;
        font-size: 1rem;
        cursor: pointer;

        // hover
        &:hover {
            // darker off white
            background-color: #f3f1f1;
        }
    }
}


.menu {
    display: flex;
    margin: 1rem;

    .dishes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
} 



.dish-item {
    // Create a card
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 4px;
    padding: 1rem;


    .dish-image {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-color: #ccc;
        margin-bottom: 2rem;
        overflow: hidden;
        
        // center text
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dish-name {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .dish-price {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
}
